html {
  background-color: #FDB833;
  color: #fff;
  height: fit-content;
}

#firstAnswer:hover, #secondAnswer:hover, #thirdAnswer:hover, #forthAnswer:hover {
  background-color: #700;
  color: white;
}

img{
  position: relative;
  top: 25%;
  left: 34.5%;
  width: 350px;
  height: 280px;
  margin: 30px;
}

#startBtn, .menuBtn, .answerBtn {
  background-color: #DF2935;
  font-family: monospace;
  font-size: 35px;
  border-radius: 35px;
  border-style: outset;
  border-width: 3px;
  margin: 10px; 
  padding: 10px;
  color: black;
  border-color: black;
  user-select: none;
  text-decoration: none;
}

#startBtn {
  position: relative;
  width: 100px;
  left: 45%;
  top: 100px;
}


.menuBtn, .answerBtn {
  position: relative;
  width: 100px;
  left: 42%;
  top: -20px;
}

.menuBtn, .answerBtn{
  width: 200px;
  text-align: center;
}

#startBtn:hover, .menuBtn:hover, #homeBtn:hover, .answerBtn:hover {
  cursor: pointer;
}

#homeBtn{
  width: 70px;
  height: 70px;
  user-select: none;
  position: relative;
  left: 50px;
  top: -120px;
}

#optionBtns, #homeBtn, .question, #finalP
#question, #firstAnswer, #secondAnswer, #thirdAnswer, #forthAnswer {
  display: none;
}

.question, #finalP{
  user-select: none;
  height: 20px;
  font-family: monospace;
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: dimgrey;
}

.question {
  position: relative;
  top: -30px;
}

#finalP {
  position: relative;
  top: -300px;
  left: -600px;
}

#question {
  font-size: 20px;
}

#optionBtns {
  height: 300PX;
}