html {
  background-color: #FDB833;
  color: #fff;
  height: fit-content;
}

#firstAnswer:hover, #secondAnswer:hover, #thirdAnswer:hover, #forthAnswer:hover {
  background-color: #700;
  color: white;
}

img{
  position: relative;
  top: 25%;
  left: 34.5%;
  width: 350px;
  height: 280px;
  margin: 30px;
}

#startBtn, .menuBtn, .answerBtn {
  background-color: #DF2935;
  font-family: monospace;
  font-size: 35px;
  border-radius: 35px;
  border-style: outset;
  border-width: 3px;
  margin: 10px; 
  padding: 10px;
  color: black;
  border-color: black;
  user-select: none;
  text-decoration: none;
}

#startBtn {
  position: relative;
  width: 100px;
  left: 45%;
  top: 100px;
}